*.class

# Package Files #
*.jar
*.war
*.ear

# LaTeX
autohaendler/manual/*.aux
autohaendler/manual/*.out
autohaendler/manual/*.log
autohaendler/manual/*.gz
autohaendler/manual/*.pdf
autohaendler/manual/tmp
